<header>
  <div class="header__loginJoin-wrapper">
    <% if(!loggedIn) {%>
    <div class="header__login header__loginJoin pc">
      <a href="/login">로그인</a>
    </div>
    <div class="header__loginJoin pc">|</div>
    <div class="header__join header__loginJoin pc">
      <a href="/register">회원가입</a>
    </div>
    <ul class="header__nav-menu">
      <li class="header__login header__loginJoin">로그인</li>
      <li class="header__join header__loginJoin">회원가입</li>
    </ul>
    <!-- Toggle button -->
    <button class="header__nav-toggle-btn">
      <i class="fas fa-bars"></i>
    </button>
    <% } %> <% if(loggedIn) { %>
    <div class="header__login header__loginJoin">
      <a href="/mypage">마이페이지</a>
    </div>
    <div class="header__loginJoin">|</div>
    <div class="header__join header__loginJoin">
      <a href="/logout">로그아웃</a>
    </div>
    <ul class="header__nav-menu">
      <div class="header__loginJoin-wrapper mobile">
        <div class="header__login header__loginJoin">마이페이지</div>
        <div class="header__join header__loginJoin">로그아웃</div>
      </div>
    </ul>
    <% } %>
  </div>
  <div class="header__title">
    <a href="/">오늘 뭐 입지?</a>
  </div>
</header>
