<nav>
  <div class="nav__menu-wrapper">
    <ul class="nav__menus">
      <li class="nav__menu menuBorder selected">
        <a href="/">오늘의 날씨</a>
      </li>
      <li class="nav__menu">|</li>
      <li class="nav__menu menuBorder"><a href="/ootd">OOTD</a></li>
    </ul>
  </div>
</nav>
