<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/index.css" />
    <%- include('layouts/head'); -%>
  </head>

  <body>
    <%- include('layouts/header'); -%>
    <nav>
      <div class="nav__menu-wrapper">
        <ul class="nav__menus">
          <li class="nav__menu menuBorder selected">
            <a href="/">오늘의 날씨</a>
          </li>
          <li class="nav__menu">|</li>
          <li class="nav__menu menuBorder"><a href="/ootd">OOTD</a></li>
        </ul>
      </div>
    </nav>
    <main>
      <section class="main__weather-section">
        <div class="main__today-wrapper main__day-wrapper">
          <div class="main__todayInfo main__dayInfo">
            <div class="main__today-date-wrapper main__date-wrapper">
              <div class="main__today-date main__day-date" id="date0">
                날짜를 불러오고 있습니다.
              </div>
              <div class="main__today-day main__day-day" id="day0"></div>
            </div>
            <div class="main__today-weather-wrapper main__weather-wrapper">
              <div class="main__today-location main__day-location" name="city">
                위치를 불러오고 있습니다...
              </div>
              <div
                class="main__today-temperature main__day-temperature"
                id="temp0"
              ></div>
              <div
                class="main__today-weather main__day-weather"
                id="weather0"
              ></div>
            </div>
          </div>
          <div class="main__clothesExample">
            28℃~ 반팔, 반바지, 민소매, 샌들
          </div>
          <div class="main__todayClothes-wrapper main__dayClothes-wrapper">
            <div class="main__todayClothes main__dayClothes clothes1"></div>
            <div class="main__todayClothes main__dayClothes clothes2"></div>

            <div class="main__todayClothes main__dayClothes clothes3">
              <img
                src="https://image.msscdn.net/images/goods_img/20180531/791575/791575_2_500.jpg"
                alt=""
              />
            </div>
          </div>
        </div>

        <div class="main__tomorrow-wrapper main__day-wrapper">
          <div class="main__tomorrowInfo main__dayInfo">
            <div class="main__tomorrow-date-wrapper main__date-wrapper">
              <div class="main__tomorrow-date main__day-date" id="date1">
                날짜를 불러오고 있습니다.
              </div>
              <div class="main__tomorrow-day main__day-day" id="day1"></div>
            </div>
            <div class="main__tomorrow-weather-wrapper main__weather-wrapper">
              <div
                class="main__tomorrow-location main__day-location"
                name="city"
              >
                위치를 불러오고 있습니다...
              </div>
              <div
                class="main__tomorrow-temperature main__day-temperature"
                id="temp1"
              ></div>
              <div
                class="main__tomorrow-weather main__day-weather"
                id="weather1"
              ></div>
            </div>
          </div>
          <div class="main__clothesExample">
            28℃~ 반팔, 반바지, 민소매, 샌들
          </div>
          <div class="main__tomorrowClothes-wrapper main__dayClothes-wrapper">
            <div class="main__tomorrowClothes main__dayClothes">
              <img
                src="https://image.msscdn.net/images/goods_img/20190327/996177/996177_3_500.jpg"
                alt=""
              />
            </div>
            <div class="main__tomorrowClothes main__dayClothes">
              <img
                src="https://image.msscdn.net/images/goods_img/20180424/763134/763134_4_500.jpg"
                alt=""
              />
            </div>
            <div class="main__tomorrowClothes main__dayClothes">
              <img
                src="https://image.msscdn.net/images/goods_img/20180531/791575/791575_2_500.jpg"
                alt=""
              />
            </div>
          </div>
        </div>

        <div class="main__theDayAfterTomorrow-wrapper main__day-wrapper">
          <div class="main__theDayAfterTomorrowInfo main__dayInfo">
            <div
              class="main__theDayAfterTomorrow-date-wrapper main__date-wrapper"
            >
              <div
                class="main__theDayAfterTomorrow-date main__day-date"
                id="date2"
              >
                날짜를 불러오고 있습니다.
              </div>
              <div
                class="main__theDayAfterTomorrow-day main__day-day"
                id="day2"
              ></div>
            </div>
            <div
              class="
                main__theDayAfterTomorrow-weather-wrapper main__weather-wrapper
              "
            >
              <div
                class="main__theDayAfterTomorrow-location main__day-location"
                name="city"
              >
                위치를 불러오고 있습니다...
              </div>
              <div
                class="
                  main__theDayAfterTomorrow-temperature main__day-temperature
                "
                id="temp2"
              ></div>
              <div
                class="main__theDayAfterTomorrow-weathe main__day-weather"
                id="weather2"
              ></div>
            </div>
          </div>
          <div class="main__clothesExample">
            28℃~ 반팔, 반바지, 민소매, 샌들
          </div>
          <div
            class="
              main__theDayAfterTomorrowClothes-wrapper main__dayClothes-wrapper
            "
          >
            <div class="main__theDayAfterTomorrowClothes main__dayClothes">
              <img
                src="https://image.msscdn.net/images/goods_img/20190327/996177/996177_3_500.jpg"
                alt=""
              />
            </div>
            <div class="main__theDayAfterTomorrowClothes main__dayClothes">
              <img
                src="https://image.msscdn.net/images/goods_img/20180424/763134/763134_4_500.jpg"
                alt=""
              />
            </div>
            <div class="main__theDayAfterTomorrowClothes main__dayClothes">
              <img
                src="https://image.msscdn.net/images/goods_img/20180531/791575/791575_2_500.jpg"
                alt=""
              />
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer></footer>
    <script type="text/javascript" src="/js/index.js"></script>
    <%- include('layouts/footer'); -%>
  </body>
</html>
