<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/mypage.css" />
    <%- include('layouts/head'); -%>
  </head>

  <body>
    <%- include('layouts/header'); -%>
    <div class="myPage-title">&lt;마이페이지&gt;</div>
    <main>
      <section class="main__myPage-section">
        <div class="main__myPage-list-title">내가 올린 글</div>
        <div class="main__myPage-lists">
          <div class="main__myPage-list">
            <img
              src="https://search.pstatic.net/sunny/?src=http%3A%2F%2Fimage.musinsa.com%2Fmfile_s01%2F_shopstaff%2Fview.staff_56de3c295351e.png&type=a340"
              alt=""
            />
          </div>
        </div>
      </section>
    </main>
    <footer></footer>
    <script type="text/javascript" src="/js/index.js"></script>
    <%- include('layouts/footer'); -%>
  </body>
</html>
