<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/write.css" />
    <%- include('layouts/head'); -%>
  </head>
  <body>
    <%- include('layouts/header'); -%>
    <main>
      <section class="main__write-section">
        <div class="main__section-title">글쓰기</div>
        <form action="/posts/store" method="POST" enctype="multipart/form-data">
          <div class="form-group">
            <label>제목</label>
            <input
              type="text"
              class="form-control"
              placeholder="제목을 입력해주세요"
              id="title"
              name="title"
            />
          </div>
          <div class="form-group">
            <label>사진</label>
            <input type="file" class="form-control" id="image" name="image" required/>
          </div>
          <div class="form-group textarea-wrapper">
            <label>본문</label>
            <textarea
              rows="5"
              class="form-control"
              id="body"
              name="body"
            ></textarea>
          </div>
          <div class="form-group btn">
            <button
              type="submit"
              class="btn btn-primary"
              id="sendMessageButton"
            >
              작성하기
            </button>
          </div>
        </form>
      </section>
    </main>
    <%- include('layouts/footer'); -%>
  </body>
</html>
