:root {
  /* color */
  --color-white: rgb(248, 248, 248);
  --color-white-blur: rgba(248, 248, 248, 0.568);
  --color-gray-blur: rgba(95, 95, 95, 0.582);
  --color-dark-gray: rgb(68, 68, 68);
  --color-black: rgb(14, 14, 14);

  /* Font size */

  --font-largest: 72px;
  --font-large: 42px;
  --font-medium: 28px;
  --font-regular: 22px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */

  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Animation */
  --animation-duration: 300ms;

  /* width */
  --main-section-width: 85vw;
}

/* font */
@font-face {
  font-family: 'Cafe24Dangdanghae';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.2/Cafe24Dangdanghae.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Wemakeprice-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Wemakeprice-Bold.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NEXON Lv1 Gothic OTF';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NanumBarunGothic';
  font-style: normal;
  font-weight: 400;
  src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
  src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix')
      format('embedded-opentype'),
    url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff')
      format('woff'),
    url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf')
      format('truetype');
}

@font-face {
  font-family: 'NanumBarunGothic';
  font-style: normal;
  font-weight: 700;
  src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot');
  src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix')
      format('embedded-opentype'),
    url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff')
      format('woff'),
    url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf')
      format('truetype');
}

@font-face {
  font-family: 'NanumBarunGothic';
  font-style: normal;
  font-weight: 300;
  src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot');
  src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix')
      format('embedded-opentype'),
    url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff')
      format('woff'),
    url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf')
      format('truetype');
}

@font-face {
  font-family: 'Chosunilbo_myungjo';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

.nanumbarungothic * {
  font-family: 'NanumBarunGothic', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Chosunilbo_myungjo;
  background-color: var(--color-white);
  /* background: rgb(64, 64, 64);
  background: linear-gradient(
    32deg,
    rgba(64, 64, 64, 1) 0%,
    rgba(100, 100, 163, 1) 59%,
    rgba(207, 171, 221, 1) 100%
  ); */
  color: var(--color-black);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-black);
}

/* Header */

.header__loginJoin-wrapper {
  display: flex;
  justify-content: flex-end;
  margin: 5px 15px;
}
.header__loginJoin {
  padding: 10px 10px;
  font-family: NanumBarunGothic;
  border: 1px solid var(--color-white);
}

.header__login:hover,
.header__join:hover {
  border: 1px solid var(--color-black);
}

.header__title {
  height: 45vh;
  width: 85vw;
  margin: 50px auto;
  line-height: 35vh;
  font-family: 'Chosunilbo_myungjo';
  text-align: center;
  font-size: var(--font-largest);
  background-image: url(../img/background2.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  /* margin: 50px 0px; */
}

/* Navbar */
.nav__menu-wrapper {
  margin-bottom: 60px;
}
.nav__menus {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  font-family: Chosunilbo_myungjo;
}
.nav__menu {
  padding: 5px 10px;
  font-size: var(--font-medium);
}

.nav__menu.selected {
  background-color: var(--color-gray-blur);
}

.nav__menu.selected a {
  color: var(--color-white);
}

/* Main */
main {
  width: var(--main-section-width);
  margin: auto;
  padding: 10px 50px;
  background-color: var(--color-white-blur);
  color: var(--color-dark-gray);
  border: 1px solid black;
}

/* All Day */
.main__day-wrapper {
  display: flex;
  flex-direction: column;
  margin: 70px 0;
}
.main__dayInfo {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}
.main__date-wrapper {
  display: flex;
  font-size: var(--font-medium);
  margin-bottom: 10px;
}
.main__weather-wrapper {
  display: flex;
  font-size: var(--font-regular);
}
.main__date-wrapper div,
.main__weather-wrapper div {
  padding-right: 15px;
}
.main__day-location {
}
.main__day-temperature {
}
.main__day-weather {
}

.main__clothesExample {
  font-family: NanumBarunGothic;
  margin: 5px 0;
}
.main__dayClothes-wrapper {
  display: flex;
  justify-content: space-between;
  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 20px;
  column-gap: 50px; */
}
.main__dayClothes {
  width: 300px;
  height: 400px;
}
.main__dayClothes img {
  width: 300px;
  height: 400px;
}

/* today */

.main__today-wrapper {
}
.main__todayInfo {
}
.main__today-location {
}
.main__today-temperature {
}
.main__today-weather {
}
.main__todayClothes-wrapper {
}
.main__todayClothes {
}

/* tomorrow */

.main__tomorrow-wrapper {
}
.main__tomorrowInfo {
}
.main__tomorrow-location {
}
.main__tomorrow-temperature {
}
.main__tomorrow-weather {
}
.main__tomorrowClothes-wrapper {
}
.main__tomorrowClothes {
}

/* The Day After Tomorrow */

.main__theDayAfterTomorrow-wrapper {
}
.main__theDayAfterTomorrowInfo {
}
.main__theDayAfterTomorrow-location {
}
.main__theDayAfterTomorrow-temperature {
}
.main__theDayAfterTomorrow-weather {
}
.main__theDayAfterTomorrowClothes-wrapper {
}
.main__theDayAfterTomorrowClothes {
}

.decoLineUp {
  position: relative;
  margin: 0;
  padding: 0;
  left: -50px;
  transform: rotate(-5deg);
  height: 1px;
  border-top: 1px solid black;
  width: var(--main-section-width);
}

.decoLineDown {
  position: relative;
  margin: 0;
  padding: 0;
  left: -50px;
  transform: rotate(4deg);
  height: 1px;
  border-top: 1px solid black;
  width: var(--main-section-width);
}

/* footer */
footer {
  height: 30vh;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.float-end {
  position: fixed;
  bottom: 5px;
  right: 5px;
  margin: 5px;
  font-size: var(--font-large);
}

/* @@@ Mobile @@@ */

@media screen and (max-width: 1200px) {
  /* Header */

  body {
    margin: 0;
  }

  header {
    width: 100vw;
  }

  .header__title {
    height: 25vh;
    line-height: 25vh;
    font-size: var(--font-large);
    /* margin: 50px 0px; */
  }

  /* Navbar */
  .nav__menu-wrapper {
    margin-bottom: 30px;
  }

  .nav__menu {
    font-size: var(--font-regular);
  }

  /* Main */
  main {
    width: var(--main-section-width);
    padding: 0;
    margin: auto;
    background-color: var(--color-white-blur);
    color: var(--color-dark-gray);
    border-radius: 3px;
  }

  /* All Day */
  .main__day-wrapper {
    display: flex;
    flex-direction: column;
    margin: 70px 0;
  }
  .main__dayInfo {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }
  .main__date-wrapper {
    display: flex;
    font-size: var(--font-medium);
    margin-bottom: 10px;
  }
  .main__weather-wrapper {
    display: flex;
    font-size: var(--font-regular);
  }
  .main__date-wrapper div,
  .main__weather-wrapper div {
    padding-right: 15px;
  }
  .main__day-location {
  }
  .main__day-temperature {
  }
  .main__day-weather {
  }

  .main__clothesExample {
    font-family: NanumBarunGothic;
    margin: 5px 0;
  }
  .main__dayClothes-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    column-gap: 50px;
    overflow-x: scroll;
  }

  .main__dayClothes {
    width: 300px;
    height: 400px;
  }
  .main__dayClothes img {
    width: 300px;
    height: 400px;
  }

  .decoLineUp {
    position: relative;
    margin: 0;
    padding: 0;
    left: 0px;
    transform: rotate(-5deg);
    height: 1px;
    border-top: 1px solid black;
    width: var(--main-section-width);
  }

  .decoLineDown {
    position: relative;
    margin: 0;
    padding: 0;
    left: 0px;
    transform: rotate(4deg);
    height: 1px;
    border-top: 1px solid black;
    width: var(--main-section-width);
  }

  /* footer */
  footer {
    height: 15vh;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
  footer p {
    font-size: var(--font-micro);
    padding: 5px;
  }
}
