:root {
  /* color */
  --color-white: rgb(248, 248, 248);
  --color-white-blur: rgba(248, 248, 248, 0.568);
  --color-gray-blur: rgba(95, 95, 95, 0.582);
  --color-dark-gray: rgb(68, 68, 68);
  --color-black: rgb(14, 14, 14);

  /* Font size */

  --font-largest: 72px;
  --font-large: 42px;
  --font-medium: 28px;
  --font-regular: 22px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */

  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Animation */
  --animation-duration: 300ms;

  /* width */
  --main-section-width: 85vw;
  --mobile-main-section-width: 95vw;
}

/* font */
@font-face {
  font-family: 'Cafe24Dangdanghae';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.2/Cafe24Dangdanghae.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Wemakeprice-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Wemakeprice-Bold.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NEXON Lv1 Gothic OTF';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NanumBarunGothic';
  font-style: normal;
  font-weight: 400;
  src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
  src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix')
      format('embedded-opentype'),
    url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff')
      format('woff'),
    url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf')
      format('truetype');
}

@font-face {
  font-family: 'NanumBarunGothic';
  font-style: normal;
  font-weight: 700;
  src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot');
  src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix')
      format('embedded-opentype'),
    url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff')
      format('woff'),
    url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf')
      format('truetype');
}

@font-face {
  font-family: 'NanumBarunGothic';
  font-style: normal;
  font-weight: 300;
  src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot');
  src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix')
      format('embedded-opentype'),
    url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff')
      format('woff'),
    url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf')
      format('truetype');
}

@font-face {
  font-family: 'Chosunilbo_myungjo';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

.nanumbarungothic * {
  font-family: 'NanumBarunGothic', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Chosunilbo_myungjo;
  background-color: var(--color-white);
  color: var(--color-black);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-black);
}

.header__nav-menu {
  position: relative;
  transform: translateY(60px);
  flex-direction: column;
  width: 100%;
  text-align: center;
  display: none;
  padding: 0;
  margin: 0;
}

.header__nav-menu.open {
  display: block;
}

.header__loginJoin-wrapper.mobile {
  display: flex;
  justify-content: center;
}

.header__nav-toggle-btn {
  display: none;
  position: absolute;
  top: 20px;
  right: 16px;
  border: none;
  color: var(--color-gray-blur);
  background-color: var(--color-white);
  font-size: var(--font-medium);
}

@media screen and (max-width: 1200px) {
  .header__loginJoin.pc {
    display: none;
  }

  .header__loginJoin-wrapper.mobile {
    display: flex;
    justify-content: center;
  }

  .header__nav-toggle-btn {
    display: block;
  }

  .header__nav-menu {
    flex-direction: column;
    width: 100%;
    text-align: center;
    display: none;
  }

  .header__nav-menu.open {
    display: block;
  }
  li.header__loginJoin {
    text-align: right;
  }
}
